//variable
$color-bckgrnd: #03045e;
$color-elem: #0077b6;
$color-txt: #00b4d8;
$light-blue: #90e0ef;
$cool-blue: #caf0f8;
$border-deco: none;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
      farthest-side at top left,
      rgba(26, 228, 188, 0.5),
      transparent
    ),
    radial-gradient(
      farthest-corner at bottom right,
      rgba(35, 61, 226, 0.5),
      transparent
    ),
    radial-gradient(
      farthest-side at top right,
      rgba(255, 0, 255, 0.5),
      transparent 100vw
    ),
    radial-gradient(
      farthest-corner at bottom left,
      rgba(229, 245, 129, 0.5),
      transparent
    );
}

#header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 80%;
  &__h1 {
    font-size: 2rem;
    color: $color-elem;
    margin-top: 5%;
  }
  form{
    background-color: rgba(3, 5, 94, 0.138);
    border-radius: 1vw;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.149);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-top: 2%;
    padding: 1vw;

    .locaInput {
      position: relative;
      left: -2%;
      width: 60%;
      background-color: $cool-blue;
      border: $border-deco;
      border-radius: 0.3vw;
      font-size: 1rem;
      padding: 1vw;
    }
    &__btn {
      position: relative;
      left: 2%;
      width: 20%;
      background-color: $cool-blue;
      color: $color-txt;
      border: $border-deco;
      border-radius: 0.3vw;
      font-size: 1rem;
      font-weight: bolder;
      padding: 1vw;
    }
  }
}

#main {
  margin-top: 3%;
  background-color: rgba(3, 5, 94, 0.536);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.219);
  border-radius: 1vw;
  width: 20%;
  &__card {
    color: $color-txt;
    padding-top: 2%;
    padding-bottom: 3%;
    
    &__city {
      font-size: 2rem;
      padding: 0.5%;
      background: linear-gradient(45deg,#d93dea, #e166b8, #dd9b61);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__degrees{
        padding: 0.5%;
    }
   
    &__date{
        padding: 0.5%;
        color: $color-bckgrnd;
    }
    &__condition{
        padding: 1%;
        font-size:larger;
    } 
    &__icon {
        padding-bottom: 2%;
        font-size: 3.5rem;
        background: linear-gradient(120deg,#04496e, #0687a0, #84dbed);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
  }
}
