//variable
$color-bckgrnd: #03045e;
$color-elem: #0077b6;
$color-txt: #00b4d8;
$light-blue: #90e0ef;
$cool-blue: #caf0f8;
$border-deco: none;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 100vw;
  padding-bottom: 5rem;
  
  background: radial-gradient(
      farthest-side at top left,
      rgba(26, 228, 188, 0.5),
      transparent
    ),
    radial-gradient(
      farthest-corner at bottom right,
      rgba(35, 61, 226, 0.5),
      transparent
    ),
    radial-gradient(
      farthest-side at top right,
      rgba(255, 0, 255, 0.5),
      transparent 100vw
    ),
    radial-gradient(
      farthest-corner at bottom left,
      rgba(229, 245, 129, 0.5),
      transparent
    );
    background-repeat:no-repeat;
    background-size: contain;

}

#header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  width: 60%;
  &__h1 {
    font-size: 1.5rem;
    color: $color-elem;
    margin-top: 5%;
  }
  &__form{
    background-color: rgba(3, 5, 94, 0.138);
    border-radius: 1vw;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.149);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-top: 2%;
    padding: 1vw;

    .locaInput {
      position: relative;
      left: -2%;
      width: 60%;
      background-color: $cool-blue;
      border: $border-deco;
      border-radius: 0.3vw;
      font-size: 1rem;
      padding: 1vw;
    }
    &__btn {
      position: relative;
      left: 2%;
      width: 20%;
      background-color: $cool-blue;
      color: $color-txt;
      border: $border-deco;
      border-radius: 0.3vw;
      font-size: 1rem;
      font-weight: bolder;
      padding: 1vw;
    }
  }
}

#main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  &__card {
    background-color: rgba(3, 5, 94, 0.195);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.219);
    border-radius: 1vw;
    color: $color-elem;
    width: 10rem;
    height: 13rem;
    margin-top: 2rem;
    margin-bottom: 0.20rem;
        
    &__city {
      font-size: 1.5rem;
      padding: 0.2%;
      background: linear-gradient(45deg,#d93dea, #e166b8, #dd9b61);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__degrees{
        padding: 0.5%;
    }
   
    &__date{
        color: $color-bckgrnd;
    }
    &__condition{
        font-size:larger;
    } 
    
  }
  .newdiv{
    width: 10rem;
    height: 6rem;
    margin-top: 1rem;
    background-color: rgba(3, 5, 94, 0.195);
    backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.219);
    border-radius: 1vw;
    padding-bottom: 10rem;
  }
}
